body
	background: #FFF
	line-height: 1.4
	font-family: $proxima
	font-weight: 400
	font-size: 18px
	line-height: 1.667
	color: $greyHigh

.section-bg
	position: absolute
	top: 0
	bottom: 0
	right: 0
	background-color: rgba(152, 149, 162, 0.1)
