// body
//   background: $white
//   line-height: 1.4
//   font-family: $proxima
//   font-weight: 400
//   font-size: 18px
//   line-height: 1.667
//   color: $greyHigh
//   padding-bottom: 100vh
//   min-width: 320px
//   +smooth-font
//   +sm
//     font-size: 14px
//     line-height: 1.5
// html
//   &.is-overflow-hidden
//     overflow-x: hidden
//     overflow-y: scroll
//     body
//       overflow: hidden
//       height: 100vh

.out
  position: relative
  overflow: hidden

.section-bg
  position: absolute
  top: 0
  bottom: 0
  width: 100%
  background-color: rgba(152, 149, 162, 0.1)

.main-wrapper
  position: relative
  z-index: 9
  background-color: $white

.sphere
  opacity: 0.3
  img
    display: block
    max-width: 100%
  &_lg
    width: 211px
    height: 188px
    +lg
      width: 148px
      height: 132px
    +sm
      width: 95px
      height: 85px
  &_xmd
    width: 171px
    height: 152px
    +lg
      width: 148px
      height: 132px
  &_md
    width: 120px
    height: 107px
    +lg
      width: 85px
      height: 75px
    +sm
      display: none
  &_sm
    width: 80px
    height: 71px
    +lg
      width: 53px
      height: 47px
    +sm
      display: none
  &_xs
    width: 54px
    height: 48px
    +sm
      display: none

.mob-show
  display: none !important
  +sm
    display: block !important

.mob-hide
  +sm
    display: none !important

.lg-show
  display: none
  +lg
    display: block

.lg-hide
  +lg
    display: none

// *
//   box-shadow: inset 0 0 0 1px red