.title-lg
  font-family: $averta
  font-size: 200px
  line-height: 1
  font-weight: 900
  color: $greyHigh
  &_light
    color: rgba(129, 125, 142, 0.1)
  +lg
    font-size: 140px
  +sm
    font-size: 60px

.title
  font-family: $averta
  font-size: 52px
  line-height: 1.2
  font-weight: 400
  color: $dark
  +sm
    font-size: 28px
    margin-left: 0

.title-sm
  font-family: $averta
  font-weight: 400
  font-size: 28px
  line-height: 1.428
  color: $dark
  +xs
    font-size: 18px
    line-height: 1.5

.text-light
  color: $greyMid

.text-extra-light
  color: rgba(129, 125, 142, 0.1) 

.text-center
  text-align: center

.blockquote
  text-align: center
  &__main
    font-family: $freightPro
    font-weight: 500
    font-size: 28px
    line-height: 1.5
    margin-bottom: 20px
    color: $dark
    font-style: italic
    +sm
      font-size: 18px
      line-height: 40px
      margin-bottom: 14px
  &__author
    line-height: 1.6
    font-weight: 400
