.title-lg
  font-family: $sofia
  font-size: 200px
  line-height: 1
  font-weight: 900
  color: $greyHigh
  &_light
    color: rgba(129, 125, 142, 0.1)
  +md
    font-size: 140px
  +xs
    font-size: 60px

.title
  font-family: $sofia
  font-size: 52px
  line-height: 1.3
  font-weight: 400
  color: $dark
  margin-left: -0.1em
  +sm
    font-size: 28px

.title-sm
  font-family: $sofia
  font-size: 28px
  line-height: 1.428
  color: $dark
  +xs
    font-size: 18px
    line-height: 1.5

.text-light
  color: $greyMid