---
title: Index page
---
{% extends "layouts/_layout.html" %}
{% import "partials/_works.html" as worksBuilder %}
{% import "partials/_hero-footer.html" as footerBuilder %}

{% block content %}
  <div class="main-wrapper">
    {% include "partials/_header.html" %}
    {% include "partials/_hero.html" %}
    {{ worksBuilder.works({ works: true }) }}
    {% include "partials/_services.html" %}
    {% include "partials/_clients.html" %}
  </div>
  {{ footerBuilder.hero_footer({
    title: 'Works',
    spheres: [
      {
        class: 'lg',
        size: 'lg'
      },
      {
        class: 'sm-left-center',
        size: 'sm'
      }
    ]
  }) }}

  {% include "partials/_main-loader.html" %}


{% endblock %}
