---
title: Index page
main: true
---
{% extends "layouts/_layout.html" %}
{% import "partials/_works.html" as worksBuilder %}
{% import "partials/_hero-footer.html" as footerBuilder %}
{% import "partials/_services.html" as servicesBuilder %}

{% block content %}
  <div class="main-wrapper js-main-page">
    {{ headerBuilder.header({ mainPage: true }) }}
    {% include "partials/_hero.html" %}
    {{ worksBuilder.works({ works: true }) }}
    {{ servicesBuilder.services() }}
    {% include "partials/_clients.html" %}
  </div>
  {{ footerBuilder.hero_footer({
    title: 'Works',
    link: 'works',
    spheres: [
      {
        class: 'lg',
        size: 'lg'
      },
      {
        class: 'sm-left-center',
        size: 'sm'
      }
    ]
  }) }}

  {% include "partials/_main-loader.html" %}


{% endblock %}
