---
title: Work Item
---
{% extends "layouts/_layout.html" %}
{% import "partials/_works.html" as worksBuilder %}
{% import "partials/_hero-footer.html" as footerBuilder %}

{% block content %}
  <div class="main-wrapper">
    {{ headerBuilder.header() }}
    <div class="work-item-header" data-scroll-trigger>
      <div class="work-item-header__inner inner">
        <h2 class="work-item-header__title title" data-anim="works-item-text-from-bottom">
          Straboo
        </h2>
        <div class="work-item-header__text" data-anim="works-item-text-from-bottom">
          Straboo is a digital platform for fitness trainers and their clients to communicate, mentor and motivate for great results.
        </div>
      </div>
    </div>
    <div class="work-item-hero" style="background-image: url('img/straboo img1.jpg');" data-scroll-trigger data-anim="from-bottom">
      <div class="work-item-hero__inner inner">
        <div class="work-item-hero__text">
          <h2 class="work-item-hero__title title" data-anim="works-item-text-from-bottom">Straboo</h2>
          <p data-anim="works-item-text-from-bottom">
            Straboo is a digital platform for fitness trainers and their clients to communicate, mentor and motivate for great results.
          </p>
        </div>
      </div>
    </div>
    <div class="text-section work-item-descr">
      <div class="work-item-descr__inner inner">
        <div class="work-item-descr__top row" data-scroll-trigger data-anim-group data-delay-anim='0.0001' data-duration-anim='0.7'>
          <div class="work-item-descr__col col" data-anim="text-block-from-bottom">
            <h4 class="title-sm work-item-descr__title">Goal</h4>
            <p>Straboo is a digital platform for fitness trainers and their clients to communicate, mentor and motivate for great results. Straboo is a digital platform for fitness trainers and their clients to communicate, mentor and motivate for great results. </p>
          </div>
          <div class="work-item-descr__col col"  data-anim="text-block-from-bottom">
            <h4 class="work-item-descr__title title-sm">What I did</h4>
            <p>Web App Design, Website Design</p>
          </div>
        </div>
        <div class="work-item-descr__bottom row" data-scroll-trigger data-anim-group data-duration-anim='0.7'>
          <div class="work-item-descr__col col" data-anim="text-block-from-bottom">
            <h4 class="work-item-descr__title title-sm">Dashboard</h4>
            <p>Straboo is a digital platform for fitness trainers.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="images-section">
      <div class="images-section__inner inner">
        {% for item in ['straboo img2.jpg', 'straboo img3.jpg', 'straboo img4.jpg'] %}
          <div class="images-section__image">
            <img data-src="img/{{ item }}" alt="work-item-image" data-lazy>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="text-section">
      <div class="inner" data-scroll-trigger data-anim-group data-duration-anim='0.7'>
        <div class="text-section__anim-group" data-anim="text-block-from-bottom">
          <h4 class="text-section__title title-sm">Dark version</h4>
          <p>Straboo is a digital platform for fitness trainers.</p>
        </div>
      </div>
    </div>
    <div class="images-section">
      <div class="images-section__inner inner">
        {% for item in ['straboo img5.jpg', 'straboo img6.jpg'] %}
          <div class="images-section__image">
            <img data-src="img/{{ item }}" alt="work-item-image" data-lazy>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="text-section text-center">
      <div class="inner" data-scroll-trigger data-anim-group data-duration-anim='0.7'>
        <div class="text-section__anim-group" data-anim="text-block-from-bottom">
          <h4 class="text-section__title title-sm">Landing page for Straboo</h4>
          <p>Straboo is a digital platform for fitness trainers.</p>
        </div>
      </div>
    </div>
    <div class="images-section">
      <div class="images-section__inner inner">
        <div class="images-section__image">
          <img data-src="img/straboo img7.jpg" alt="work-item-image" data-lazy>
        </div>
      </div>
    </div>
    <div class="blockquote-section">
      <div class="blockquote-section__inner">
        <blockquote class="blockquote" data-scroll-trigger data-anim-group='0.2' data-delay-anim='0.2' data-duration-anim='1'>
          <p data-anim='text-block-from-bottom'>"It’s beed a great pleasure to work with Alexandr side-by-side developing a UI design that was successfully turned into highly valued production grade product. I so much enjoyed the passion and strengths that Alex has. The work atmosphere that we both were in was as synergetic as you can imagine."</p>
          <footer class="blockquote__author">
            <div class="blockquote__avatar" style="background-image: url('img/avatar-icon-png-1.png');" data-anim="avatar-anim"></div>
            <div class="blockquote__info" data-anim="blockquote-from-bottom">
              <div class="blockquote__name">
                Name Surname
              </div>
              <div class="blockquote__position">
                Software Architect & Information Security Professional
              </div>
            </div>
            
          </footer>
          </blockquote>
      </div>
      
    </div>
  </div>
  {{ footerBuilder.hero_footer({
    title: 'Works',
    spheres: [
      {
        class: 'lg',
        size: 'lg'
      },
      {
        class: 'sm-left-center',
        size: 'sm'
      }
    ]
  }) }}

  {# {% include "partials/_main-loader.html" %} #}


{% endblock %}