// colors
$white: #fff
$black: #000

$greyHigh: #817D8E
$greyMid: #9F9CA9
$greyLow: #C4C4C4
$dark: #3E3852
$red: #F03454
$social-icon-color: rgba(159, 156, 169, 0.7);

$sofia: 'SofiaPro', Helvetica Neue, Helvetica, Arial, sans-serif
$proxima: 'ProximaNova', Helvetica Neue, Helvetica, Arial, sans-serif
$averta: 'Averta', Helvetica Neue, Helvetica, Arial, sans-serif
// $montserrat: 'Montserrat', Helvetica Neue, Helvetica, Arial, sans-serif

$tr: 0.3s