// colors
$white: #fff
$black: #000

$greyHigh: #817D8E
$greyMid: #9F9CA9
$greyLow: #C4C4C4

$workItemLightBg: #F5F6F9
$workItemDarkBg: #141515

$dark: #3E3852
$red: #F03454
$social-icon-color: rgba(159, 156, 169, 0.7)
$imagesSectionBg: rgba(#9F9CA9, 0.4)
$green: #64BEAD

$sofia: 'SofiaPro', Helvetica Neue, Helvetica, Arial, sans-serif
$proxima: 'ProximaNova', Helvetica, sans-serif
$averta: 'Averta', Helvetica Neue, Helvetica, Arial, sans-serif
$freightPro: 'FreightTextPro', serif

$tr: 0.3s