<div class="clients">
  <div class="clients__inner inner" data-scroll-trigger>
    <div class="clients__text" data-anim-group>
      <h2 class="clients__title title" data-rows>Working For</h2>
      <div class="clients__descr">
        <p  data-rows>I have worked on various amazing projects in a team or as a freelancer.</p> 
        <p  data-rows>These companies trusted in my expertise.</p>
        <!-- <p  data-rows>I have worked on various amazing projects in a team or as a freelancer. These companies trusted in my expertise.</p>  -->
      </div>
    </div>
    <div class="clients__logos" data-anim-group='0.5' data-duration-anim=".6" data-delay-anim=".2" data-ease-anim="Power1.easeOut">
      {% for item in [
        'eco-mail.svg',
        'Fireart.svg',
        'buzzweb.svg'
      ] %}
      <div class="clients__logo-wrapper">
        <img class="clients__logo" src="img/{{ item }}" alt="{{ item | capitalize }}" data-anim="logo-from-left">
      </div>
      {% endfor %}
    </div>
    <div class="clients__line" data-anim-group='1.5'>
      <span class="vertical-line" data-anim="from-top"></span>
    </div>
  </div>
</div>

{# <div class="clients">
  <div class="clients__inner inner" data-scroll-trigger>
    <div class="clients__text" data-anim-group data-duration-anim="10" data-delay-anim="3">
      <h2 class="clients__title title" data-rows>Working For</h2>
      <div class="clients__descr">
        <p  data-rows>I have worked on various amazing projects in a team or as a freelancer.</p>
        <p  data-rows>These companies trusted in my expertise.</p>
        <!-- <p  data-rows>I have worked on various amazing projects in a team or as a freelancer. These companies trusted in my expertise.</p>  -->
      </div>
    </div>
    <div class="clients__logos" data-anim-group='0.5' data-duration-anim=".6" data-delay-anim=".2" data-ease-anim="Power1.easeOut">
      {% for item in [
        'eco-mail.svg',
        'Fireart.svg',
        'buzzweb.svg'
      ] %}
      <div class="clients__logo-wrapper">
        <img class="clients__logo" src="img/{{ item }}" alt="{{ item | capitalize }}" data-anim="logo-from-left">
      </div>
      {% endfor %}
    </div>
    <div class="clients__line" data-anim-group='1.5'>
      <span class="vertical-line" data-anim="from-top"></span>
    </div>
  </div>
</div> #}