<div class="clients">
  <div class="clients__inner inner">
    <h2 class="clients__title title">Working For</h2>
    <div class="clients__descr">
      <p>I have worked on various amazing projects in a team or as a freelancer.</p> 
      <p>These companies trusted in my expertise.</p> 
    </div>
    <div class="clients__logos">
      {% for item in [
        'eco-mail.svg',
        'Fireart.svg',
        'buzzweb.svg'
      ] %}
      <div class="clients__logo">
        <img src="img/{{ item }}" alt="{{ item | capitalize }}">
      </div>
      {% endfor %}
    </div>
  </div>
</div>