{% macro header(props) %}
  <!-- begin header -->
  <header class="header js-header">
    <div class="header__inner inner-lg" {% if not props.mainPage %} data-scroll-trigger data-anim-group data-delay-anim="0.0001"{% endif %}>
      <div class="header__left">
        <!-- begin logo -->
        <a href="page.html" class="logo" data-anim="from-top">
          <h1 hidden>IVCHENKO. DESIGN</h1>
          <img src="./img/logo.svg" alt="logo">
        </a>
        <!-- end logo -->
      </div>
      <div class="header__right">
        <a href="get-in-touch.html" class="header__btn btn" data-anim="from-top">Get in touch</a>
        <div class="header__btn-menu">
          <button class="btn-menu js-btn-menu" data-anim="from-top" type="button">
            <span class="btn-menu__line"></span>
            <span class="btn-menu__line"></span>
          </button>
        </div>
      </div>
    </div>
    <div class="header__menu js-header-menu">
      <div class="header__menu-wrap">
        <div class="header__menu-top js-header-top">
          <div class="header__inner inner-lg">
            <div class="header__left">
              <!-- begin logo -->
              <a href="#" class="logo">
                <h1 hidden>IVCHENKO. DESIGn</h1>
                <img src="./img/logo.svg" alt="logo">
              </a>
              <!-- end logo -->
            </div>
            <div class="header__right">
              <a href="#" class="header__btn btn">Get in touch</a>
            </div>
          </div>
        </div>
        <div class="header__inner inner-lg-pl">
          <div class="header__wrap">
            <div class="header__center">
              <div class="header__text">
                <div class="title-lg text-extra-light" data-anim-text-parent><span data-anim="text-from-bottom">Menu</span></div>
              </div>
              <nav class="header__nav nav">
                <ul class="menu-list">
                  {% for value in [
                    { text: 'Home', link: 'page' },
                    { text: 'Works', link: 'works' },
                    { text: 'Services', link: 'services' },
                    { text: 'About Me', link: 'about' },
                    { text: 'Contacts', link: 'get-in-touch' }
                  ] %}
                  <li class="menu-item{% if loop.first %} is-active{% endif %}" data-anim="from-top">
                    <a href="{{ value.link }}.html" class="menu-item__link js-page-link{% if props.current == value.link %} js-current-link{% endif %}">{{ value.text }}</a>
                    <span class="menu-item__line-wrap" data-anim-wrap="line-from-left">
                      <span class="menu-item__line" data-anim-inner="line-from-left">
                        <span class="menu-item__line-inner"></span>
                      </span>
                    </span>
                  </li>
                  {% endfor %}
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="header__footer js-header-footer">
          {# <div class="mob-hide">
            {% include "partials/_footer-info.html" %}
          </div> #}
          <div class="mob-show">
            <a href="#" class="btn">Get in touch</a>
          </div>
        </div>
      </div>
    </div>
  </header>
<!-- end header -->
{% endmacro %}
