{% import "partials/_mixins.html" as mixins %}

{% macro hero_footer(props) %}
  <footer class="footer js-footer">
    <div class="footer__mask js-footer-mask"></div>
    <a href="#footer-link-1" class="footer__link"></a>
    <div class="footer__inner inner-lg">
      <div class="footer__wrapper footer__wrapper_left">
        Next Section
      </div>
      <div class="footer__title title-lg">{{ props.title }}</div>
      <div class="footer__wrapper footer__wrapper_right">
        <div class="footer__btn-wrapper">
          <a href="#footer-link-2" class="anim-btn anim-btn_with-line anim-btn_no-scroll-anim">
            <span class="anim-btn__line-wrapper">
              <span class="anim-btn__line"></span>
            </span>
            <span class="anim-btn__text-wrapper">
              <span class="anim-btn__text">Lets go</span>
            </span>
          </a>
        </div>
      </div>
      <div class="footer__spheres">
        {% for sphere in props.spheres %}
          <div class="footer__sphere footer__sphere_{{ sphere.class }}{% if sphere.modifier %} {{ sphere.modifier }}{% endif %}">
              {{ mixins.sphere(sphere.size) }}
          </div>
        {% endfor %}
      </div>
    </div>
    {# <div class="footer__info">
      {% include "partials/_footer-info.html" %}
    </div> #}
  </footer>
{% endmacro %}