<!-- begin hero -->
<div class="hero">
	<div class="hero__inner inner-lg">
		<p data-scroll-trigger data-rows="text-row-parent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos vel temporibus veniam sit iusto dolorum consequuntur eaque officia ducimus aperiam doloribus molestias, placeat deserunt excepturi magnam maxime ullam ad. Tenetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos vel temporibus veniam sit iusto dolorum consequuntur eaque officia ducimus aperiam doloribus molestias, placeat deserunt excepturi magnam maxime ullam ad. Tenetur.</p>
	</div>
	<div data-scroll-trigger style="margin-top: 250px;">
		<div class="title" data-rows="text-row-parent">bhebjhsbd hkdg kdgbc dygh cydgyd cydu cdyhg cydgyd cydu cdyhg</div>
		<p data-rows="text-row-parent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos vel temporibus veniam sit iusto dolorum consequuntur eaque officia ducimus aperiam doloribus molestias, placeat deserunt excepturi magnam maxime ullam ad. Tenetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos vel temporibus veniam sit iusto dolorum consequuntur eaque officia ducimus aperiam doloribus molestias, placeat deserunt excepturi magnam maxime ullam ad. Tenetur.</p>
	</div>
	

</div>
<!-- end hero -->