{% macro icon(i) %}
<svg class="icon icon-{{i}}"><use xlink:href="img/sprite.svg#icon-{{i}}"></use></svg>
{% endmacro %}

{% macro breadcrumbs(props) %}
<!-- begin breadcrumbs -->
<ul class="breadcrumbs{% if props.class %}{{ props.class }}{% endif %}">
	{% for item in props.list %}
		{% if loop.last %}
		<li class="breadcrumbs__item">
			<span>{{ item }}</span>
		</li>
		{% else %}
		<li class="breadcrumbs__item">
			<a href="#">{{ item }}</a>
		</li>
		{% endif %}
	{% endfor %}
</ul>
<!-- end breadcrumbs -->
{% endmacro %}

{% macro checkbox(props) %}
<!-- begin input -->
<label class="{% if props.radio %}radio{% else %}checkbox{% endif %}{% if props.class %} {{ props.class }}{% endif %}">
	<input type="{% if props.radio %}radio{% else %}checkbox{% endif %}" name="{{ props.name or 'checkbox' }}"{% if props.checked %} checked{% endif %}>
	<span class="{% if props.radio %}radio{% else %}checkbox{% endif %}__text">{{ props.text or 'checkbox' }}</span>
</label>
<!-- end input -->
{% endmacro %}

{% macro work(props) %}
  <a href="work-item.html" class="work js-page-link" data-scroll-trigger='20' data-anim='from-bottom'>
    <div class="work__image-wrap">
      <div class="work__image{% if props.imageScale %} work__image_scale{% endif %}">
          <img data-src="img/{{ props.image }}" alt="{{ props.title }}" data-masonry-lazy>
      </div>
    </div>
    <div class="work__title title-sm">{{ props.title }}</div>
    <div class="work__descr text-light">{{ props.descr }}</div>
  </a>
{% endmacro %}

{% macro tabs(props) %}
	<div class="tabs__out">
			<ul class="tabs__list menu-list" data-anim-group=".9" data-duration-anim=".5" data-delay-anim=".115">
				{% for item in props %}
					
					<li class="tabs__item menu-item" data-tabs-control="{{ item.id }}" data-anim="from-top" data-anim-group="3.5" data-group-inner="true" data-duration-anim=".8">
            <a href="#" class="menu-item__link">{{ item.text }}</a>
						
						<span class="menu-item__line-wrap" data-anim-wrap="line-from-left">
							<span class="menu-item__line" data-anim-inner="line-from-left">
								<span class="menu-item__line-inner"></span>
							</span>
						</span>
					</li>

				{% endfor %}
			</ul>
	</div>
	<div class="tabs__wrapper js-accordeon-parent" data-tabs-wrapper>
		{% for items in props %}
			<div class="tabs__container" data-tabs-container="{{ items.id }}" {% if loop.first %}data-anim-group="2.85"{% endif %} data-duration-anim=".5" data-delay-anim=".1" data-ease-anim="Power1.easeOut">
				<div class="tabs__mobile js-accordeon-head" data-anim-group="1.{{loop.index}}" data-duration-anim=".5">
					<h4 class="tabs__container-head" data-anim="from-top" data-anim-group="2" data-group-inner="true">
						{{ items.text }}
						<span class="tabs__container-icon" data-anim-inner="line-from-left">{{ icon('arrrow') }}</span>
					</h4>
				</div>
				<ul class="tabs__sublist js-accordeon-body">

					{% for item in items.sublist %}
				
						<li class="tabs__subitem" data-anim="from-top">{{ item }}</li>

					{% endfor %}

				</ul>
			</div>
			
		{% endfor %}
	</div>
{% endmacro %}

{% macro sphere(size) %}
	<div class="sphere sphere_{{ size }}">
		<img src="{% if size == 'lg' %}./img/circle-lg.png{% endif %}{% if size == 'sm' %}./img/circle-sm.png{% endif %}{% if size == 'md' %}./img/circle-md.png{% endif %}{% if size == 'xs' %}./img/circle-xs.png{% endif %}{% if size == 'xmd' %}./img/circle-xmd.png{% endif %}" alt="decorative sphere">
	</div>
{% endmacro %}