{% macro icon(i) %}
<svg class="icon icon-{{i}}"><use xlink:href="img/sprite.svg#icon-{{i}}"></use></svg>
{% endmacro %}

{% macro breadcrumbs(props) %}
<!-- begin breadcrumbs -->
<ul class="breadcrumbs{% if props.class %}{{ props.class }}{% endif %}">
	{% for item in props.list %}
		{% if loop.last %}
		<li class="breadcrumbs__item">
			<span>{{ item }}</span>
		</li>
		{% else %}
		<li class="breadcrumbs__item">
			<a href="#">{{ item }}</a>
		</li>
		{% endif %}
	{% endfor %}
</ul>
<!-- end breadcrumbs -->
{% endmacro %}

{% macro checkbox(props) %}
<!-- begin input -->
<label class="{% if props.radio %}radio{% else %}checkbox{% endif %}{% if props.class %} {{ props.class }}{% endif %}">
	<input type="{% if props.radio %}radio{% else %}checkbox{% endif %}" name="{{ props.name or 'checkbox' }}"{% if props.checked %} checked{% endif %}>
	<span class="{% if props.radio %}radio{% else %}checkbox{% endif %}__text">{{ props.text or 'checkbox' }}</span>
</label>
<!-- end input -->
{% endmacro %}

{% macro work(props) %}
  <div class="work" data-scroll-trigger='20' data-anim='from-bottom'>
    <div class="work__image-wrap">
      <div class="work__image{% if props.imageScale %} work__image_scale{% endif %}">
          <img data-src="img/{{ props.image }}" alt="{{ props.title }}" data-lazy data-masonry-lazy>
      </div>
    </div>
    <div class="work__title title-sm">{{ props.title }}</div>
    <div class="work__descr text-light">{{ props.descr }}</div>
  </div>
{% endmacro %}

{% macro tabs(props) %}
	<div class="tabs__out">
			<ul class="tabs__list">
				{% for item in props %}
					
					<li class="tabs__item menu-item" data-tabs-control="{{ item.id }}">{{ item.text }}</li>

				{% endfor %}
			</ul>
	</div>
	<div class="tabs__wrapper" data-tabs-wrapper>
		{% for items in props %}
			<div class="tabs__container" data-tabs-container="{{ items.id }}" {% if loop.first %} data-anim-group=".5" data-duration-anim="1" {% endif %}data-duration-anim=".5">
				<ul class="tabs__sublist">

					{% for item in items.sublist %}
				
						<li class="tabs__subitem" data-anim="from-top">{{ item }}</li>

					{% endfor %}

				</ul>
			</div>
			
		{% endfor %}
	</div>
{% endmacro %}