<div class="works works_recent">
  <div class="works__inner">
    <h2 class="works__title title">Recent works</h2>
    <p>Please, select work for view</p>
    <div class="works__container">
      <div class="work">
        <div class="work__image-wrap">
          <div class="work__image">
              <img src="img/works_Target.jpg" alt="straboo">
          </div>
        
        </div>
        <div class="work__title title-sm">Straboo</div>
        <div class="work__descr text-light">Web App Design, Website Design</div>
      </div>
    </div>
  </div>
</div>