{% import "partials/_mixins.html" as mixins %}

<div class="services"  data-scroll-trigger>
    <div class="services__inner inner-lg-pl">
        <div class="services__content">
            <div class="services__bg">
                <div data-anim-group="1.6" data-duration-anim="1.1" data-ease-anim="Power2.easeOut">
                    <div class="section-bg" data-anim="from-left"></div>
                </div>
                <div data-anim-group="2.25" data-duration-anim=".7" data-delay-anim=".1" data-ease-anim="Power1.easeOut">
                    <div class="services__sphere services__sphere_lg" data-anim="sphere-from-top">
                        {{ mixins.sphere('lg') }}
                    </div>
                    <div class="services__sphere services__sphere_sm" data-anim="sphere-from-top">
                        {{ mixins.sphere('sm') }}
                    </div>
                </div>
            </div>
            <div class="services__header" data-anim-group>
                <h2 class="services__title title" data-rows="text-row-parent">
                    Services
                </h2>
                <p data-rows="text-row-parent">I create unique product design by combining design and expirience, while keeping my focus.</p>
            </div>
            <div class="services__tabs tabs" data-tabs>
                {{ mixins.tabs([
                    {
                        id: 'strategy',
                        text: 'Strategy',
                        sublist: [
                            'Userflows',
                            'Sitemapping',
                            'Wireframing',
                            'Prototyping'
                        ]
                    },
                    {
                        id: 'branding',
                        text: 'Branding',
                        sublist: [
                            'Sitemapping',
                            'Userflows',
                            'Wireframing',
                            'Prototyping'
                        ]
                    },
                    {
                        id: 'design',
                        text: 'Interface Design',
                        sublist: [
                            'Sitemapping',
                            'Userflows',
                            'Prototyping',
                            'Wireframing'
                        ]
                    },
                    {
                        id: 'experience',
                        text: 'User Experience',
                        sublist: [
                            'Prototyping',
                            'Sitemapping',
                            'Userflows',
                            'Wireframing'
                        ]
                    }
                ]) }}
            </div>
        </div>
    </div>
</div>