{% import "partials/_mixins.html" as mixins %}

{% macro works(props) %}

  {% if props.works %}
    {% set works = [
      {
        image: "works_Straboo.jpg",
        title: "Straboo",
        descr: "Web App Design, Website Design"
      },
      {
        image: "works_Target.jpg",
        title: "Target",
        descr: "Mobile App Design",
        imageScale: true
      },
      {
        image: "works_Chesseberry.jpg",
        title: "Chesseberry",
        descr: "Mobile App Design",
        imageScale: true
      },
      {
        image: "works_Crossfit.jpg",
        title: "Crossfit",
        descr: "Web App Design, Mobile App Design"
      }
    ] %}
  {% endif %}

  {% if props.filter %}
    {% set works = [
      {
        image: "works_Straboo.jpg",
        title: "Straboo",
        descr: "Web App Design, Website Design"
      },
      {
        image: "works_Target.jpg",
        title: "Target",
        descr: "Mobile App Design",
        imageScale: true
      },
      {
        image: "works_Chesseberry.jpg",
        title: "Chesseberry",
        descr: "Mobile App Design",
        imageScale: true
      },
      {
        image: "works_Crossfit.jpg",
        title: "Crossfit",
        descr: "Web App Design, Mobile App Design"
      },
      {
        image: "3.jpeg",
        title: "Straboo",
        descr: "Web App Design, Website Design"
      },
      {
        image: "works_Target.jpg",
        title: "Target",
        descr: "Mobile App Design",
        imageScale: true
      },
      {
        image: "works_Chesseberry.jpg",
        title: "Chesseberry",
        descr: "Mobile App Design",
        imageScale: true
      },
      {
        image: "works_Crossfit.jpg",
        title: "Crossfit",
        descr: "Web App Design, Mobile App Design"
      },
      {
        image: "works_Crossfit.jpg",
        title: "Crossfit",
        descr: "Web App Design, Mobile App Design"
      },
      {
        image: "3.jpeg",
        title: "Straboo",
        descr: "Web App Design, Website Design"
      },
      {
        image: "works_Target.jpg",
        title: "Target",
        descr: "Mobile App Design",
        imageScale: true
      },
      {
        image: "works_Chesseberry.jpg",
        title: "Chesseberry",
        descr: "Mobile App Design",
        imageScale: true
      }
    ] %}
  {% endif %}

  <div class="works{% if props.filter %} works_filter{% endif %}">
    <div class="works__inner inner">
      {% if props.works %}
      <div class="works__title-wrapper" data-scroll-trigger data-anim-group data-duration-anim="0.7" data-delay-anim="0.3">
        <h2 class="works__title title" data-rows>Recent works</h2>
        <p data-rows>Please, select work for view</p>
      </div>
      {% endif %}
      {% if props.filter %}
      <div class="works__filter-wrapper js-drop-container" data-scroll-trigger>
        <div class="works__title-wrapper_filter">
          <h2 class="works__title works__title_filter title" data-anim-text-parent>
            <span data-anim="text-from-bottom">
              <span class="text-light">Show me </span>
              <button class="works__filter-btn js-filter-category-text js-drop-toggler">Everything</button>
            </span>
          </h2>
        </div>
         <div class="works__filter js-drop-hidden">
          <ul class="filter-controls">
            {% for item in [
              {
                data: '*',
                text: 'Everything'
              },
              {
                data: 'mobile-app',
                text: 'Mobile App Design'
              },
              {
                data: 'web-app',
                text: 'Web App Design'
              },
              {
                data: 'website',
                text: 'Website Design'
              }
            ] %}
            <li class="filter-controls__item">
              <button class="filter-btn js-filter-btn{% if loop.first %} is-active{% endif %}" data-filter="{% if loop.first %}*{% else %}.{{ item.data }}{% endif %}">
                {{ item.text }}
              </button>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
      <div class="works__container js-filter">
        <div class="js-masonry-width"></div>
        <div class="js-masonry-stamp"></div>
        {% if props.works %}
          <div class="works__btn" data-scroll-trigger>
            <a href="#" class="anim-btn anim-btn_with-line" data-anim-group='0.1' data-delay-anim="0.6">
              <span class="anim-btn__line-wrapper">
                <span class="anim-btn__line" data-anim="line-from-left"></span>
              </span>
              <span class="anim-btn__text-wrapper"  data-anim="btn-text-from-bottom">
                  <span class="anim-btn__text">All works</span>
              </span>
            </a>
          </div>
        {% endif %}
        {% for item in works %}
          <div class="works__item js-masonry-item {{ ['mobile-app', 'web-app', 'website'] | random }}">
            {{ mixins.work(item) }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endmacro %}
