{% import "partials/_mixins.html" as mixins %}

{% macro works(props) %}
  <div class="works works_recent">
    <div class="works__inner inner">
      {% if props.works %}
      <div data-scroll-trigger>
        <h2 class="works__title title" data-anim-text-parent><span data-anim-text-from="bottom">Recent works</span></h2>
        <p data-anim-text-parent><span data-anim-text-from="bottom">Please, select work for view</span></p>
      </div>
      {% endif %}
      {% if props.filter %}
      <div class="works__filter-wrapper" data-scroll-trigger>
        <h2 class="works__title works__filter-title title">
          Show me Everything
        </h2>
        <div class="works__filter">
          <ul class="filter-controls">
            {% for item in [
              {
                data: '*',
                text: 'Everything'
              },
              {
                data: 'mobile-app',
                text: 'Mobile App Design'
              },
              {
                data: 'web-app',
                text: 'Web App Design'
              },
              {
                data: 'website',
                text: 'Website Design'
              }
            ] %}
            <li class="filter-controls__item">
              <button class="filter-btn" data-filter="{% if loop.first %}*{% else %}.{{ item.data }}{% endif %}">
                {{ item.text }}
              </button>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
      <div class="works__container js-masonry{% if props.filter %} js-filter{% endif %}">
        {% for item in [
          {
            image: "works_Straboo.jpg",
            title: "Straboo",
            descr: "Web App Design, Website Design"
          },
          {
            image: "works_Chesseberry.jpg",
            title: "Chesseberry",
            descr: "Mobile App Design"
          },
          {
            image: "works_Target.jpg",
            title: "Target",
            descr: "Mobile App Design"
          },{
            image: "works_Crossfit.jpg",
            title: "Crossfit",
            descr: "Web App Design, Mobile App Design"
          },
          {
            image: "works_Straboo.jpg",
            title: "Straboo",
            descr: "Web App Design, Website Design"
          },
          {
            image: "works_Chesseberry.jpg",
            title: "Chesseberry",
            descr: "Mobile App Design"
          },
          {
            image: "works_Target.jpg",
            title: "Target",
            descr: "Mobile App Design"
          },{
            image: "works_Crossfit.jpg",
            title: "Crossfit",
            descr: "Web App Design, Mobile App Design"
          }
        ] %}
          <div class="works__item js-masonry-item {{ ['mobile-app', 'web-app', 'website'] | random }}">
            {{ mixins.work(item) }}
          </div>
        {% endfor %}
        <div class="js-masonry-width"></div>
        <div class="js-masonry-gutter"></div>
      </div>
    </div>
  </div>
{% endmacro %}
