{% import "partials/_mixins.html" as mixins %}

{% macro works(props) %}
  <div class="works works_recent">
    <div class="works__inner inner">
      {% if props.works %}
      <div class="works__title-wrapper" data-scroll-trigger data-anim-duration='2' data-anim-delay='1'>
        <h2 class="works__title title" data-rows>Recent works</h2>
        <p data-rows>Please, select work for view</p>
      </div>
      {% endif %}
      {% if props.filter %}
      <div class="works__filter-wrapper js-drop-container" data-scroll-trigger data-anim-duration="1">
        <h2 class="works__title works__title_filter title" data-anim-text-parent>
          <span data-anim-text-from="bottom">
            <span class="text-light">Show me </span>
            <button class="works__filter-btn js-filter-category-text js-drop-toggler">Everything</button>
          </span>
        </h2>
         <div class="works__filter js-drop-hidden">
          <ul class="filter-controls">
            {% for item in [
              {
                data: '*',
                text: 'Everything'
              },
              {
                data: 'mobile-app',
                text: 'Mobile App Design'
              },
              {
                data: 'web-app',
                text: 'Web App Design'
              },
              {
                data: 'website',
                text: 'Website Design'
              }
            ] %}
            <li class="filter-controls__item">
              <button class="filter-btn js-filter-btn{% if loop.first %} is-active{% endif %}" data-filter="{% if loop.first %}*{% else %}.{{ item.data }}{% endif %}">
                {{ item.text }}
              </button>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
      <div class="works__container js-masonry{% if props.filter %} js-filter{% endif %}">
          <div class="works__item works__item_padding js-masonry-stamp"></div>
        {% for item in [
          {
            image: "works_Straboo.jpg",
            title: "Straboo",
            descr: "Web App Design, Website Design"
          },
          {
            image: "works_Chesseberry.jpg",
            title: "Chesseberry",
            descr: "Mobile App Design",
            imageScale: true
          },
          {
            image: "works_Target.jpg",
            title: "Target",
            descr: "Mobile App Design",
            imageScale: true
          },{
            image: "works_Crossfit.jpg",
            title: "Crossfit",
            descr: "Web App Design, Mobile App Design"
          },
          {
            image: "works_Straboo.jpg",
            title: "Straboo",
            descr: "Web App Design, Website Design"
          },
          {
            image: "works_Chesseberry.jpg",
            title: "Chesseberry",
            descr: "Mobile App Design",
            imageScale: true
          },
          {
            image: "works_Target.jpg",
            title: "Target",
            descr: "Mobile App Design",
            imageScale: true
          },{
            image: "works_Crossfit.jpg",
            title: "Crossfit",
            descr: "Web App Design, Mobile App Design"
          },
          {
            image: "works_Straboo.jpg",
            title: "Straboo",
            descr: "Web App Design, Website Design"
          },
          {
            image: "works_Chesseberry.jpg",
            title: "Chesseberry",
            descr: "Mobile App Design",
            imageScale: true
          },
          {
            image: "works_Target.jpg",
            title: "Target",
            descr: "Mobile App Design",
            imageScale: true
          },{
            image: "works_Crossfit.jpg",
            title: "Crossfit",
            descr: "Web App Design, Mobile App Design"
          }
        ] %}
          <div class="works__item js-masonry-item {{ ['mobile-app', 'web-app', 'website'] | random }}">
            {{ mixins.work(item) }}
          </div>
        {% endfor %}
        <div class="js-masonry-width"></div>
        <div class="js-masonry-gutter"></div>
      </div>
      <div class="works__btn" data-scroll-trigger data-anim-text-parent>
        <span class="anim-line"></span>
        <a href="#" class="anim-btn" data-anim-text-from="bottom">
          <span class="anim-btn__text">All works</span>
        </a>
      </div>
    </div>
  </div>
{% endmacro %}
