[data-anim]
  position: relative
  &.is-animate
    opacity: 1
    visibility: visible
    transform: translate(0, 0)

[data-anim-text-parent]
  overflow: hidden
  position: relative
  display: block
  // [data-scroll-trigger].is-animate &
  //   $transition-delay: 0s
  //   @for $i from 1 through 100
  //     &:nth-child(#{$i})
  //       [data-anim-text-from="bottom"]
  //         transition: transform .6s
  //         transform: translateY(0)
  //         transition-delay: $transition-delay
  //         $transition-delay: $transition-delay + .25s

[data-anim="text-from-bottom"]
  display: inline-block
  position: relative
  transform: translateY(102%)
  // transition: transform 10s
  [data-rows] &
    transition: inherit

[data-anim-inner="line-from-left"]
  position: relative
  transform: translateX(-100%)

[data-anim-wrap="line-from-left"]
  position: relative
  overflow: hidden
  display: inline-block

[data-anim="line-from-left"]
  transform: translateX(-100%)

[data-anim="from-bottom"]
  transition: opacity 1s, visibility 1s, transform 1s
  transform: translateY(20%)
  opacity: 0
  // visibility: hidden

[data-anim="btn-text-from-bottom"]
  transform: translateY(30px)
  opacity: 0

[data-rows]
  visibility: hidden
  &.is-animate,
  [data-scroll-trigger].is-animate &
    visibility: visible

[data-anim="from-top"]
  position: relative
  transform: translateY(-55px)
  opacity: 0

[data-anim="sphere-from-top"]
  position: relative
  transform: translateY(-350px)

[data-anim="from-left"]
  position: absolute
  transform: translateX(-100%)

[data-anim="logo-from-left"]
  opacity: 0
  transform: translateX(-60%)

[data-anim="sphere-from-left"]
  position: absolute
  -webkit-backface-visibility: hidden
  -moz-backface-visibility: hidden
  backface-visibility: hidden
