.clients
  // height: 100vh
  padding: 356px 0 170px
  +sm
    padding: 40px 0
  // +vertical
  &__inner
    text-align: center
    +sm
      text-align: left
    // display: inline-block
    // vertical-align: middle
  &__text
    margin-bottom: 76px
  &__title
    margin-bottom: 7px
    +sm
      margin-bottom: 7px
  &__descr
    line-height: 1.4
    font-family: $proxima
    font-weight: 400
    font-size: 18px
    line-height: 1.667
    color: $greyHigh
    +sm
      font-size: 14px
      letter-spacing: -0.01em
      line-height: 1.428
  &__logos
    display: flex
    align-items: center
    justify-content: center
    flex-wrap: wrap
    margin: 0 -45px
    +md
      margin: 0 -15px
    +sm
      justify-content: space-between
      align-items: flex-start
  &__logo-wrapper
    padding: 0 45px
    position: relative
    +md
      padding: 0 15px
    +sm
      +flex-size(50%)
    img
      display: block
      max-width: 100%
      +sm
        max-height: 40px
  &__line
    margin-top: 166px
    text-align: center

.vertical-line
  display: inline-block
  width: 1px
  height: 60px
  background-color: $greyMid