.footer
  height: 100vh
  background-color: $white
  position: fixed
  bottom: 0
  z-index: 100
  left: 0
  right: 0
  display: flex
  align-items: center
  // cursor: url('../img/cursor.svg') 50 50, pointer
  &__mask
    +coverdiv
    background-color: $black
    // cursor: url(../img/footer-cursor.png), pointer
  &__inner
    // height: 100%
    padding-top: 100px
    padding-bottom: 100px
  &__title
    padding: 3vw 0 5vw
    text-align: center
  &__wrapper
    max-width: 566px
    margin: 0 auto
    &_left
      text-align: left
    &_right
      text-align: right
  &__btn-wrapper
    margin-right: -26px
    // cursor: url(../img/footer-cursor.png), pointer
  &__info
    position: absolute
    // padding: 20px 0
    // bottom: 30px
    width: 100%
    bottom: 0
    z-index: 2
    .social-links
      cursor: pointer

.footer-info
  padding: 45px 0 45px
  +sm
    padding: 15px 0
  &__inner
    display: flex
    justify-content: space-between
    // align-items: center
    +sm
      justify-content: center
  &__social
    
    +sm
      display: none
    // flex-grow: 0

.social-links
  display: flex
  align-items: center
  margin: 0 -19px
  font-size: 0
  &__item
    display: block
    padding: 0 19px
  &__link
    // font-size: 30px
    color: $social-icon-color
    transition: color 0.3s
    +hover
      color: $greyMid
    .icon
      font-size: 20px
    .icon-behance
      font-size: 17px
