.services
    &__content
        position: relative
        padding: 265px 0 320px
        +lg
            padding: 108px 0 169px
        +sm
            padding: 65px 0 44px
        .services_secondary &
          padding: 275px 0 280px
          +lg
            padding: 165px 0 110px
          +sm
            padding: 95px 0 50px
    &__bg
        position: absolute
        top: 0
        bottom: 0
        right: 0
        width: 50%
        overflow: hidden
        backface-visibility: hidden
        +lg
            right: -2% 
            width: 50.5%
        +sm
            display: none
        .services_secondary &
          top: 210px
          bottom: 170px
          +lg
            top: 132px
            bottom: 70px
            right: 0%
            width: 42.5%
    &__title
        .services_secondary &
            margin-bottom: 9px
            +sm
                margin-bottom: 4px
    //     margin-bottom: 35px
    //     +lg
    //         margin-bottom: 4px
    //     +sm
    //         margin-bottom: 0
    &__header
        max-width: 400px
    &__tabs
        margin-top: 110px
        +lg
            margin-top: 69px
        +sm
            margin-top: 25px
        .services_secondary &
            +lg
                margin-top: 49px
            +sm
                margin-top: 30px
    &__sphere
        position: absolute
        &_lg
            top: 113px
            right: 119px
            +lg
                top: 89px
                right: 100px
        &_sm
            top: 273px
            left: 80px
            +lg
                top: 221px
                left: 94px
        &_xmd
          top: 100px
          left: 100px
          +lg
            top: 54px
            left: 60px
        &_sm-secondary
          top: 230px
          right: 100px
          +lg
            top: 179px
            right: 64px
