[data-tabs]
    // overflow: hidden
    [data-tabs-control]
        cursor: pointer
        user-select: none
        &[disabled],
        &.is-disabled
            cursor: not-allowed
            +nosel
    [data-tabs-wrapper]
        position: relative
    [data-tabs-container]
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        opacity: 0
        visibility: hidden
        // transition: opacity 0.3s, visibility 0.3s
        &.is-open
            position: relative
            opacity: 1
            visibility: visible

.tabs
    width: 100%
    display: flex
    justify-content: space-between
    &__out
        width: 50%
        +lg
            width: 47.77%
        +sm
            display: none
    &__wrapper
        width: 50%
        counter-reset: number1
        +lg
            width: 52.23%
        +sm
            width: 100%
    .tabs__container
        padding: 4px 0 0 140px
        +sm
            padding: 0
            opacity: 1
            visibility: visible
            position: relative
            // display: flex
            // flex-direction: column
            // align-items: center
    &__mobile
        width: 100%
    &__list
        counter-reset: number
    &__sublist
        +sm
            display: none
            padding-left: 90px
            margin: 15px 0
    &__subitem
        position: relative
        padding-left: 31px
        +sm
            opacity: 1
            transform: translateY(0)
        &:before
            content: ""
            position: absolute
            left: 0
            top: 50%
            transform: translateY(-50%)
            width: 5px
            height: 5px
            border-radius: 50%
            background-color: $red
        &:not(:first-child)
            margin-top: 20px
            +sm
                margin-top: 10px
    &__container-head
        display: none
        position: relative
        padding: 0 10px 0 46px
        font-weight: 400
        font-family: $sofia
        font-size: 18px
        color: $greyMid
        transition: color .3s
        align-items: center
        cursor: pointer
        +sm
            display: flex
        &:before
            counter-increment: number1
            content: "0"counter(number1)
            position: absolute
            left: 0
            top: 50%
            transform: translateY(-50%)
            font-size: 14px
        // &:after
        //     content: ">"
        //     position: absolute
        //     right: 0
        //     top: 50%
        //     transform: translateY(-50%)
        //     font-size: 10px
        //     line-height: 1
        &:not(:first-child)
            margin-top: 10px
        .is-active &
            color: $red
            .icon
                transform: rotate(90deg)
                color: $red
    &__container-icon
        position: absolute
        font-size: 10px
        right: 0
        .icon
            display: block
            transform-origin: center
            transition: transform .3s, color .3s
            color: $greyLow


.menu-item
    position: relative
    padding: 0 40px 0 60px
    font-family: $sofia
    font-size: 28px
    color: $greyMid
    transition: color .3s
    display: flex
    align-items: center
    +hover
        color: $greyHigh
    +sm
        font-size: 18px
    &:before
        counter-increment: number
        content: "0"counter(number)
        position: absolute
        left: 0
        top: 50%
        transform: translateY(-50%)
        font-size: 14px
    &__line
        // content: ""
        opacity: 0
        // visibility: hidden
        position: absolute
        // top: 50%
        transform: translateX(-100%)
        right: 0
        width: 40px
        overflow: hidden
        &-inner
            display: block
            width: 100%
            height: 1px
            background-color: $red
            transform: translateX(-100%)
            animation: lineHideRight .5s cubic-bezier(.8,0,.2,1) forwards
    &:not(:first-child)
        margin-top: 10px
    &.is-active
        color: $red
        +hover
            color: $red
        .menu-item__line
            // opacity: 1
            visibility: visible
            &-inner
                animation: lineAppearLeft .5s ease-out .3s forwards


@keyframes lineHideRight
    0%
        transform: translateX(0)
    100%
        transform: translateX(100%)

@keyframes lineAppearLeft
    0%
        transform: translateX(-100%)
    100%
        transform: translateX(0)
