.touch
  @extend %firstSectionPadding
  &__header
    position: relative
    margin-bottom: 106px
  &__sphere
    position: absolute
    top: 0
    right: 0
  &__contacts-row
    margin-bottom: 232px
    .col
      margin-bottom: 58px
  &__line
    margin-bottom: 213px
  &__title
    margin-bottom: 25px

.contact
  &__title
    color: $dark
    margin-bottom: 12px
  &__info
    color: $greyHigh

.form-group
  position: relative
  padding-top: 33px
  &__input
    width: 100%
    padding-top: 10px
    padding-bottom: 20px
    border-bottom: 1px solid $greyLow
    font-family: $proxima
    font-weight: 400
    font-size: 18px
    line-height: 1.667
    coloe: $dark
    &.error
      border-color: $red !important
  &__label
    position: absolute
    bottom: 20px
    left: 0
    color: $greyMid
    font-family: $proxima
    font-weight: 600
    font-size: 14px
    line-height: 1.428
    .is-active &
      bottom: auto
      top: 20px
  textarea
    border: none
    height: 80px
    resize: auto
    box-sizing: border-box
    display: block

.form-error
  position: absolute
  right: 0
  bottom: 20px
  color: $red
  font-family: $proxima
  font-weight: 600
  font-size: 14px
  line-height: 1.428

