.work-item-header
	@extend %firstSectionPadding
	padding-bottom: 220px
	+lg
		padding-bottom: 108px
	+sm
		padding-bottom: 50px
	&__text
		max-width: 510px

.work-item-hero
	position: relative
	padding-bottom: 71.112%
	display: flex
	align-items: center
	background-size: cover
	background-repeat: no-repeat
	background-position: 50% 0
	color: $white
	// +rmin(1440)
	//   padding-bottom: 0
	//   height: 1024px
	&__bg
		position: absolute
		top: 0
		left: 0
		height: 100%
		width: 100%
		img
			width: 100%
			height: 100%
			display: block
			object-fit: cover
			object-position: center
	&__inner
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
	&__title
		color: $white
	&__text
		max-width: 510px

.work-item-descr
	&__top
		margin-bottom: 203px
		+lg
			margin-bottom: 100px
		+sm
			margin-bottom: 46px
	&__col
		&:not(:last-child)
			+sm
				margin-bottom: 46px
		p
			max-width: 450px

.images-section
	background-color: $imagesSectionBg
	&_light
		background-color: rgba(152, 149, 162, 0.1)
	&__image
		padding-top: 140px
		+lg
			padding-top: 120px
		+sm
			padding-top: 30px
		&:last-child
			padding-bottom: 140px
			+lg
				padding-bottom: 120px
			+sm
				padding-bottom: 30px
		img
			max-width: 100%
			height: auto
			display: block

.text-section
	display: flex
	justify-content: space-between
	+sm
		text-align: left
	&__title
	  margin-bottom: 10px
	  +lg
	    margin-bottom: 6px
	  +sm
	    margin-bottom: 0
	// &__col
	// 	+flex-size(50%)

.blockquote-section
	padding: 205px 0
	+lg
		padding: 112px 0
	+sm
		padding: 52px 0
	&__inner
		max-width: 920px
		width: 100%
		margin: 0 auto
		padding: 0 30px

.work-item
	&:not(:last-child)
		padding-top: 50px
		padding-bottom: 150px
	&__text
		padding-bottom: 80px
	&__image
		&_border
			padding: 160px 180px
		&_shadow
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
		&_light
			background-color: $workItemLightBg
		&_dark
			background-color: $workItemDarkBg
		img
			max-width: 100%
			display: block
	&__video-full
		position: relative
		padding-bottom: 60%
		overflow: hidden
		.video__play
			+circle(240)
			.icon
				font-size: 216px

$galleryGutter: 10px

.gallery
	display: flex
	flex-wrap: wrap
	margin: 0 -#{$galleryGutter}
	&__left,
	&__right
		+flex-size(50%)
		padding: 0 $galleryGutter
	&__media
		position: relative
		+cover
		&_lg
			padding-bottom: 123%
		&_sm
			padding-bottom: calc(61.5% - #{$galleryGutter})
		&_full
			padding-bottom: 30.75%
		+ .gallery__media
			margin-top: 20px
		.video__play
			+circle(120)
			.icon
				font-size: 108px
	&__full-width
		+flex-size(100%)
		padding: 0 $galleryGutter
		margin-bottom: 20px


.video
	+coverdiv
	overflow: hidden
	+hover
		.video__play
			+fadein
		video[autoplay] ~
			.video__play
				+fadeout($tr)
	video
		display: block
		object-fit: cover
		+coverdiv
	&__play
		background-color: rgba(0, 0, 0, 0.4)
		+vcenter
		+vertical
		z-index: 3
		+fadeout($tr)
		.icon
			display: inline-block
			vertical-align: middle
			color: $white
			+sm 
				font-size: 80px
