.works
  padding: 245px 0 105px
  overflow: hidden
  +lg
    padding: 113px 0 0
  +sm
    padding: 78px 0 0 
  &__title-wrapper
    margin-bottom: 110px
    +sm
      margin-bottom: 23px
  &__title
    position: relative
    margin-bottom: 9px
    +lg
      margin-bottom: 5px 
    +sm
      margin-bottom: -5px
    &_filter
      span
        display: inline-block !important
      &:after
        content: ''
        display: inline-block
        vertical-align: middle
        +arr(10, 6, $red, t)
        transition: opacity 0.8s 1s, transform 0.8s
        opacity: 0
        .is-animate &
          opacity: 1
        .is-open &
          transform: rotate(-180deg)
  &__container
    position: relative
    opacity: 0
    visibility: hidden
    transition: opacity $tr, visibility $tr
    margin: 0 -60px
    +lg
      margin: 0 -50px
    +sm
      margin: 0 auto
      padding-bottom: 40px
    &.is-init
      opacity: 1
      visibility: visible
  &__item
    width: 50%
    padding-bottom: 107px
    padding-left: 60px
    padding-right: 60px
    +lg
      padding-bottom: 111px
      padding-left: 50px
      padding-right: 50px
    +sm
      padding-bottom: 52px
      padding-right: 0
      padding-left: 0
      width: 100%
  &__filter-wrapper
    margin-bottom: 82px
  &__filter
    display: none
    margin-top: 87px
  &__filter-btn
    @extend .title
    background-color: transparent
  &__btn
    position: absolute
    z-index: 5
    width: 100%
    left: 0
    bottom: 0
    // height: 30px
    // display: flex
    // align-items: center
    padding-left: 60px
    +lg
      padding-left: 50px
    +sm
      padding-left: 0
      bottom: 15px
    .btn-to-left &
      bottom: 108px
      +sm
        bottom: 0
    .anim-line
      margin-right: 16px

.work
  display: block
  +hover
    .work__image-wrap
      transform: scale(0.97)
    .work__image_scale
      transform: scale(1.1)
  &__image-wrap
    margin-bottom: 30px
    overflow: hidden
    transition: transform $tr
    background-color: #ccc
    backface-visibility: hidden
    +lg
      margin-bottom: 33px 
    +sm
      margin-bottom: 15px
  &__image
    transition: transform $tr
    img
      max-width: 100%
      // width: 100%
      display: block
  &__title
    margin-bottom: 8px
    +lg
      margin-bottom: 5px
    +sm
      margin-bottom: -5px 

.js-masonry-width
  width: 50%
  +sm
    width: 100%

.js-masonry-stamp
  position: absolute
  right: 0
  top: 0
  height: 210px
  width: 40%
  +lg
    height: 178px
  +sm
    height: 0


.filter-controls
  display: flex
  align-items: center
  &__item
    +flex-size(20%)

