.work-item-header
  &__inner
    padding-top: 280px
    padding-bottom: 204px
  &__text
    max-width: 510px

.work-item-hero
  +cover
  height: 71.11vw
  // max-height: 100vh
  color: $white
  &__inner
    display: flex
    flex-direction: column
    justify-content: center
    height: 100%
  &__title
    color: $white
  &__text
    max-width: 510px

.work-item-descr
  &__top
    margin-bottom: 100px

.images-section
  padding: 140px 0
  background-color: $imagesSectionBg
  &__image
    &:not(:last-child)
      margin-bottom: 140px
    img
      max-width: 100%
      display: block

.text-section
  padding: 210px 0 100px