.icon-Dribbble {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-Fireart {
  width: 1.91em;
  height: 1em;
  fill: currentColor;
}
.icon-behance {
  width: 1.47em;
  height: 1em;
  fill: currentColor;
}
.icon-buzzweb {
  width: 2.66em;
  height: 1em;
  fill: currentColor;
}
.icon-eco-mail {
  width: 3.3em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
